---
import { env } from "cloudflare:workers";
import { createApiClient } from "../api";
import Base from "../layouts/Base.astro";

const apiBase = env.PUBLIC_API_URL ?? "http://localhost:8787";
const api = createApiClient(apiBase);
const res = await api.version.$get();
const data = await res.json();
---

<Base title="template-bpe">
	<main>
		<h1>template-bpe</h1>
		<p>Version: {data.version}</p>
		<p>Environment: {data.env}</p>
	</main>
</Base>
