---
import { api } from "../api";
import Base from "../layouts/Base.astro";

const res = await api.version.$get();
const data = await res.json();
---

<Base title="template-bpe">
	<main>
		<h1>template-bpe</h1>
		<p>Version: {data.version}</p>
		<p>Environment: {data.env}</p>
	</main>
</Base>
